@font-face {
    font-family: 'noto';
    src: url(/resources/font/Noto_Sans_KR/NotoSansKR-Bold.ttf)
}
@font-face {
    font-family: 'noto-reg';
    src: url(/resources/font/Noto_Sans_KR/NotoSansKR-Regular.ttf)
}
body {
    min-height: 100vh;
    margin: 0 auto;
    color: #171717;
}
input:focus {
	outline: 2px solid #82a5d9;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 500px whitesmoke inset;
  }
.title {
    font-family: noto;
    font-size: 30px;
    position: absolute;
    top: 200px;
    left: 29em;
}
.userID {
    top: 17em;
    position: absolute;
    left: 44em;
    font-size: 17px;
    font-family: 'noto';
    width: 25em;
    height: 3em;
    background-color: #F7F8F7;
    border: none;
}
.userName {
    top: 21em;
    position: absolute;
    left: 44em;
    font-size: 17px;
    font-family: 'noto';
    width: 25em;
    height: 3em;
    background-color: #F7F8F7;
    border: none;
} 
.userPhone {
    top: 25em;
    position: absolute;
    left: 44em;
    font-size: 17px;
    font-family: 'noto';
    width: 25em;
    height: 3em;
    background-color: #F7F8F7;
    border: none;
}
.findIDB {
    top: 29em;
    position: absolute;
    padding: 10px 56px;
    font-size: 20px;
    font-family: 'noto';
    border: none;
    background-color: #F8CFBD;
    color: #171717;
    left: 37.4em;
}
.findPWB {
    top: 29em;
    position: absolute;
    padding: 10px 47px;
    font-size: 20px;
    font-family: 'noto';
    border: none;
    background-color: #F8CFBD;
    color: #171717;
    left: 48.4em;
}

#swal2-html-container {
	font-family: 'noto';
}