@font-face {
    font-family: 'noto';
    src: url(/resources/font/Noto_Sans_KR/NotoSansKR-Bold.ttf)
}
@font-face {
    font-family: 'noto-reg';
    src: url(/resources/font/Noto_Sans_KR/NotoSansKR-Regular.ttf)
}
body {
    min-height: 130vh;
    margin: 0 auto;
    color: #171717;
}
input:focus {
	outline: 2px solid #82a5d9;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 500px whitesmoke inset;
}
div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
	    font-family: noto;
}

.title {
    font-family: noto;
    font-size: 30px;
    position: absolute;
    top: 200px;
    left: 30em;
}
.userName {
    top: 17em;
    position: absolute;
    left: 44em;
    font-size: 17px;
    font-family: 'noto';
    width: 25em;
    height: 3em;
    background-color: #F7F8F7;
    border: none;
} 
.userID {
    top: 21em;
    position: absolute;
    left: 44em;
    font-size: 17px;
    font-family: 'noto';
    width: 18em;
    height: 3em;
    background-color: #F7F8F7;
    border: none;
}
#duplicateLabel {
	font-family: 'noto';
    position: absolute;
    top: 27.5em;
    left: 50em;
    font-size: 15px;
}
.duplicateB{
    top: 21em;
    position: absolute;
    left: 63em;
    font-size: 17px;
    font-family: 'noto';
	width: 6.2em;
    height: 3.1em;
    background-color: #F8CFBD;;
    border: none;
}
.userPW {
    top: 27em;
    position: absolute;
    left: 44em;
    font-size: 17px;
    font-family: 'noto';
    width: 25em;
    height: 3em;
    background-color: #F7F8F7;
    border: none;
}
.noPW {
	position: absolute;
    height: 4.5%;
    left: 70em;
    top: 29em;
}
.passwordcheck {
	top: 31em;
    position: absolute;
    left: 44em;
    font-size: 17px;
    font-family: 'noto';
    width: 25em;
    height: 3em;
    background-color: #F7F8F7;
    border: none;
}
#passwordLabel {
	font-family: 'noto';
    position: absolute;
    top: 39em;
    left: 50em;
    font-size: 15px;
    color: #757575;
}
.userPhone {
    top: 37em;
    position: absolute;
    left: 44em;
    font-size: 17px;
    font-family: 'noto';
    width: 25em;
    height: 3em;
    background-color: #F7F8F7;
    border: none;
}
.userEmail {
    top: 41em;
    position: absolute;
    left: 44em;
    font-size: 17px;
    font-family: 'noto';
    width: 11em;
    height: 3em;
    background-color: #F7F8F7;
    border: none;
}
.emailmark {
	position: absolute;
    top: 41.5em;
    font-family: 'noto';
    left: 56em;
    font-size: 17px;
}
.emailinput {
	top: 41em;
    position: absolute;
    left: 58em;
    font-size: 17px;
    font-family: 'noto';
    width: 11em;
    height: 3em;
    background-color: #F7F8F7;
    border: none;
}
.emailselect {
	top: 41em;
    position: absolute;
    left: 70em;
    font-size: 17px;
    font-family: 'noto';
    width: 9.2em;
    height: 3em;
    background-color: #F7F8F7;
    border: none;
    color: #757575;
}
.emailselect:focus {
	outline: none;
}
#Postalcode {
    top: 45em;
    position: absolute;
    left: 44em;
    font-size: 17px;
    font-family: 'noto';
    width: 12em;
    height: 3em;
    background-color: #F7F8F7;
    border: none;
}
#addresssearchB{
    top: 45em;
    position: absolute;
    left: 57em;
    font-size: 17px;
    font-family: 'noto';
    width: 6.2em;
    height: 3.1em;
    background-color: #F8CFBD;
    border: none;
}
#userAddress {
    top: 49em;
    position: absolute;
    left: 44em;
    font-size: 17px;
    font-family: 'noto';
    width: 25em;
    height: 3em;
    background-color: #F7F8F7;
    border: none;
}
#userdetailAddress {
    top: 53em;
    position: absolute;
    left: 44em;
    font-size: 17px;
    font-family: 'noto';
    width: 25em;
    height: 3em;
    background-color: #F7F8F7;
    border: none;
}
.registerB {
    top: 52em;
    position: absolute;
    padding: 10px 177px;
    font-size: 20px;
    font-family: 'noto';
    border: none;
    background-color: #F8CFBD;
    color: #171717;
    left: 37.4em;
}

#swal2-html-container {
	font-family: 'noto';
}