@media all and (max-width: 1024px) {
	#img1 {
		background-image: url(/resources/img/메인이미지2.jpg);
		width: 140%;
	}
}
@media all and (max-width: 600px) {
	#img1 {
		background-image: url(/resources/img/메인이미지2모바일.jpg);
		width: 100%;
	}
	.shopbutton {
	    top: 17em;
	}
}
body{
    margin: 0px;
}

@font-face {
    font-family: 'noto';
    src: url(/resources/font/Noto_Sans_KR/NotoSansKR-Bold.ttf)
}
@font-face {
    font-family: 'noto-reg';
    src: url(/resources/font/Noto_Sans_KR/NotoSansKR-Regular.ttf)
}
@font-face {
    font-family: 'Leiko';
    src: url(/resources/font/Leiko-Regular.otf)
}

.wrap {
    transition: 1s;
    top: 0;
    width: 100%;
    z-index: -1;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#img1{
    height: 100%;
}
.shopbutton {
	position: absolute;
    font-family: 'Leiko';
    font-size: 20px;
    color: white;
    border: 2px solid;
    border-color: white;
    background-color: transparent;
    width: 18em;
    height: 50px;
    bottom: 6em;
    /* z-index: 999; */
}
.shopbutton:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

@keyframes scrlDwnIndc {
  0%    {bottom: 50px;}
  20%   {bottom: 54px;}
  40%   {bottom: 58px;}
  60%   {bottom: 62px;}
  80%   {bottom: 64px;}
  100%  {bottom: 54px;}
}
/* 맨위로 버튼 */
#btn_gotop {
	display:none;
	position:fixed;
	bottom:30px;
	right:30px;
	z-index:999;
	outline:none;
	background-color:white;
	cursor:pointer;
	padding:20px 20px;
	border-radius:100%;
	
}
#up{
    width: 15px;
    height: 15px;
    color:#555;
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
/*    display: block; */
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}