<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.travel.seoul.mapper.QnAMapper">
  	<select id="qnalist" resultType="com.travel.seoul.vo.QnAVO">
 		select * from qnadb	
 	</select>
 	<insert id="qnaInsert" parameterType="com.travel.seoul.vo.QnAVO">
 		insert into qnadb(m_num, q_title, q_content,q_date, q_answerstatus, a_num, q_answer, q_revisiondate) values
 		(#{m_num}, #{q_title}, #{q_content} ,now(), '답변대기', null, null, null)
 	</insert>
 	<update id="QnAUpdate" parameterType="com.travel.seoul.vo.QnAVO">
	    update qnadb set 
	    q_answerstatus='답변완료', a_num = #{a_num}, q_answer = #{q_answer}, q_revisiondate = now()
	    where q_num = #{q_num}
	</update>
	<delete id="QnADelete" parameterType="com.travel.seoul.vo.QnAVO">
		delete from qnadb where q_num = #{q_num}
	</delete>
 	<select id="getQnaByNum" resultType="com.travel.seoul.vo.QnAVO">
		select * from qnadb	where q_num = #{q_num}
 	</select>
 	<select id="findQnAByQNum" resultType="long">
		select q_num from qnadb where q_title = #{q_title}
	</select>
 	<select id="findMNumByQNum" resultType="long">
		select q_num from qnadb where m_num = #{m_num}
	</select>
   <select id="datesearch" parameterType="map" resultType="com.travel.seoul.vo.QnAVO">
    	select * from qnadb where q_date between #{startDate} and #{endDate}
    </select>
</mapper>